<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derek.googlemap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Utility.GeneratorActivity"></activity>
        <activity android:name=".Utility.ScannerActivity" />
        <activity android:name=".View.EditProfile" />
        <activity android:name=".View.ProfileActivity" />
        <activity android:name=".View.FriendListActivity" />
        <activity android:name=".View.Register" />
        <activity android:name=".Utility.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MainActivity" />
        <activity
            android:name=".View.UploadActivity"
            android:label="Add users"
            android:parentActivityName=".View.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJl6qW_VpJfl2CQzUEiVVaOPJ3QVmWd4A" />
    </application>

</manifest>